body {
	background: #fcfbf9;
}
h1 {
	margin: 20px auto;
	text-align: center;
}
.container.mini-layout {
	background: #f8f8f8;
	border-radius: 0;
}
.span3.mini-layout {
	background: #fff;
	width: 280px;
}
.span3 fieldset {
	margin: 0 30px;
}
.btn-primary {
	width: 100%;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #ff561f;
	background-image: -moz-linear-gradient(top,#fb7a12,#ff561f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fb7a12),to(#ff561f));
	background-image: -webkit-linear-gradient(top,#fb7a12,#ff561f);
	background-image: -o-linear-gradient(top,#fb7a12,#ff561f);
	background-image: linear-gradient(to bottom,#fb7a12,#ff561f);
	background-repeat: repeat-x;
	border-color: #ff561f #ff561f #002a80;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7d53',endColorstr='#ff561f',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background: #fb4b12;
}